<main class="main">
    <section class="hero">
        <div class="container">
            <div class="info">
                <div class="hero-left">
                    <h1>CIÊNCIAS</h1>
                    <h1>HUMANAS</h1>
                    <a href="#cadastro" class="btn">Começar</a>
                </div>
                <div class="hero-right">
                    <img src="/assets/images/image.svg" />
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <p>
                Prova com 10 questões gerais sobre a matéria de ciências humanas.
            </p>
            <p>
                O que são as Ciências Humanas?
            </p>
            <p>
                A área das Ciências Humanas é o conjunto de ciências que tem como objeto de estudo o ser humano. Entre
                as ciências da área de humanas, estão a Filosofia, Sociologia ou Ciências Sociais, História, Geografia,
                Letras, Teologia, Antropologia, Comunicação Social, Psicologia, Linguística, Artes, entre outras.
            </p>
        </div>
    </section>

    <section class="singup">
        <div class="container">
            <h2>Cadastro</h2>
            <form method="POST" action="assets/PHP/main.php">
                <label for="name">
                    <input type="text" id="name" name="name" placeholder="Nome">
                </label>

                <label for="email">
                    <input type="email" id="email" name="email" placeholder="Email">
                </label>

                <label for="password">
                    <input type="password" id="password" name="password" placeholder="Senha">
                </label>

                <nav class="abrir">
                    <ul>
                        <li><a class="abrir">Já tem uma conta?</a></li>
                    </ul>
                    <input type="submit" value="Concluir" class="abrir">
                </nav>
            </form>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <p>©Vinícius Neves Costa</p>
    </div>
</footer>